html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
  background-color: rgb(245, 238, 238);
  margin-bottom: 40px;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #fff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.remove-button {
  padding: 7px;
  cursor: pointer;
  background-color: rgb(235, 114, 114);
  border-radius: 5px;
}

.aa {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.main-div {
  width: 50%;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.elem {
  border: 1px solid rgb(102, 98, 98);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(245, 239, 239);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.main-link {
  background-color: rgb(198, 226, 226);
  padding: 12px;
  border-radius: 7px;
}

.custom-date-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  background-color: #f0f0f0;
}

.react-datepicker {
  font-size: 14px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: rgb(0, 123, 255);
  box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.9);
}

.new-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-input {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(213, 213, 226);
  transition: box-shadow 0.3s ease;
}

.new-input:focus {
  outline: none;
  border-color: rgb(0, 123, 255);
  box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.9);
}
